<!doctype html>
<html>
<head>
<title>{{ title }}</title>
<!-- #css読込 -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/emotionWeb_23.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<script type="text/javascript">
function setText() {
  var text = $('#text');
  text.val('愛😇信頼😊素直🙂心配😟畏れ💬驚き😯失望😞悲しみ😥自責😑嫌悪🙁軽蔑😏怒り😠攻撃💥関心😉楽観🙃喜び😄');
  $('#form_id').submit();
}
function setText2() {
  var text = $('#text');
  text.val('こんにちは。\nこれは、独自の方法で日本語の印象・感情を分析し、表示するソフトです。\n何かの参考になれば幸せます。');
  $('#form_id').submit();
}
</script>
<div align="right">
<input type="button" onclick="setText2()" value="サンプル">
<input type="button" onclick="setText()" value="凡例表示">
</div>
{% block content %}
<!-- ここにメインコンテンツを書く -->
{% endblock %}
<hr>
<p onclick='$("html, body").animate({ scrollTop: 0 }, "slow");'>Tanaka Computer Service Corp.&nbsp;&nbsp;&nbsp;&nbsp;</p>
</body>
</html>

